<h2>Book detail</h2>

<table class='table'>
  <tr>
    <td>
      <%= link_to user_path(@book.user) do %>
        <%= image_tag attachment_url(@book.user, :profile_image, :fill, 80, 80, fallback: "default-image_S.jpeg", format: "jpg") %>
        <br>
        <%= @book.user.name %>
      <% end %>
    </td>
    <td><%= link_to @book.title, @book %></td>
    <td><%= @book.body %></td>

    <% if @book.user_id.eql?(current_user.id) then %>
    <td>
      <%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-success' %>
    </td>
    <td>
      <%= link_to 'Destroy', @book, method: :delete, class: 'btn btn-danger', data: { confirm: '本当に削除しますか？' } %>
    </td>
    <% end %>
  </tr>
</table>
